:root {
    --vp-c-brand-1: #03B3DC;
    --vp-c-brand-2: #03B3DC;
    --vp-nav-logo-height: 36px;
  }
  
  .container-padding {
    padding: 0 24px;
}
  @media (min-width: 640px) {
    .container-padding {
        padding: 0 48px;
    }}
  @media (min-width: 960px) {
    .container-padding {
        padding: 0 64px;
    }}