services:
  jamulus:
    image: dtinth/jamulus:main
    restart: unless-stopped
    environment:
      - TZ=Asia/Bangkok
      - JSON_RPC_SECRET=${JSON_RPC_SECRET:?"JSON_RPC_SECRET missing"}
      - SERVER_NAME=${SERVER_NAME:?"SERVER_NAME missing"}
      - SERVER_LOCATION=${SERVER_LOCATION:?"SERVER_LOCATION missing"}
      - SERVER_DIRECTORY=${SERVER_DIRECTORY:?"SERVER_DIRECTORY missing"}
      - JAMULUS_MAX_USERS=${JAMULUS_MAX_USERS:-10}
    cap_add:
      - SYS_NICE
    ulimits:
      rtprio: 95
      memlock:
        soft: -1
        hard: -1
    ports:
      - "22124:22124/udp"
    mem_limit: 512m
    memswap_limit: 512m
  gateway:
    image: ghcr.io/dtinth/jamulus-json-rpc-api-gateway:main
    restart: unless-stopped
    cpus: 0.1
    environment:
      - JAMULUS_HOST=jamulus
      - JAMULUS_PORT=22222
      - JAMULUS_SECRET=${JSON_RPC_SECRET:?"JSON_RPC_SECRET missing"}
      - API_KEYS=${GATEWAY_API_KEYS:?"GATEWAY_API_KEYS missing"}
      - PORT=63127
      - LISTEN_HOST=0.0.0.0
    volumes:
      - /etc/jamulusjsonrpcsecret:/etc/jamulusjsonrpcsecret:ro
  gojam:
    image: ghcr.io/dtinth/gojam:main
    command: gojamclient -name lobby -server jamulus:22124 -apiserver 0.0.0.0:9999 -mp3 -vad
    restart: always
    cpus: 0.5
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
  lounge:
    image: ghcr.io/dtinth/jamulus-lounge:main
    restart: unless-stopped
    cpus: 0.1
    init: true
    environment:
      - GOJAM_API_PORT=9999
      - GOJAM_API_HOST=gojam
      - LOUNGE_SERVER_PORT=9998
      - LOUNGE_ADMIN_PORT=9996
      - LISTEN_HOST=0.0.0.0
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
  clipper:
    image: ghcr.io/dtinth/jamulus-lounge:main
    restart: unless-stopped
    init: true
    cpus: 0.1
    command: node clipper.mjs
    environment:
      - GOJAM_API_PORT=9999
      - GOJAM_API_HOST=gojam
      - LOUNGE_ADMIN_HOST=lounge
      - LOUNGE_ADMIN_PORT=9996
      - LOUNGE_CLIPPER_PORT=9997
      - LISTEN_HOST=0.0.0.0
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
  caddy:
    build:
      context: ./caddy
    restart: unless-stopped
    cpus: 0.1
    environment:
      - DOMAIN=${DOMAIN:?"DOMAIN missing"}
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - caddy_data:/data
      - caddy_config:/config
volumes:
  caddy_data:
  caddy_config:
