services:
  jamulus:
    image: dtinth/jamulus:main
    restart: unless-stopped
    volumes:
      - recordings:/var/local/jamulus/recordings
    environment:
      - TZ=Asia/Bangkok
      - JSON_RPC_SECRET=${JSON_RPC_SECRET:?"JSON_RPC_SECRET missing"}
      - SERVER_NAME=${SERVER_NAME:?"SERVER_NAME missing"}
      - SERVER_LOCATION=${SERVER_LOCATION:?"SERVER_LOCATION missing"}
      - SERVER_DIRECTORY=${SERVER_DIRECTORY:?"SERVER_DIRECTORY missing"}
      - JAMULUS_MAX_USERS=${JAMULUS_MAX_USERS:-10}
    cap_add:
      - SYS_NICE
    ulimits:
      rtprio: 95
      memlock:
        soft: -1
        hard: -1
    ports:
      - "22124:22124/udp"
    mem_limit: 512m
    memswap_limit: 512m
  gateway:
    image: ghcr.io/dtinth/jamulus-json-rpc-api-gateway:main
    restart: unless-stopped
    cpus: 0.05
    mem_limit: 32m
    memswap_limit: 64m
    environment:
      - JAMULUS_HOST=jamulus
      - JAMULUS_PORT=22222
      - JAMULUS_SECRET=${JSON_RPC_SECRET:?"JSON_RPC_SECRET missing"}
      - API_KEYS=${GATEWAY_API_KEYS:?"GATEWAY_API_KEYS missing"}
      - PORT=63127
      - LISTEN_HOST=0.0.0.0
    volumes:
      - /etc/jamulusjsonrpcsecret:/etc/jamulusjsonrpcsecret:ro
  gojam:
    image: ghcr.io/dtinth/gojam:main
    command: gojamclient -name lobby -server jamulus:22124 -apiserver 0.0.0.0:9999 -mp3 -vad
    restart: always
    cpus: 0.5
    mem_limit: 64m
    memswap_limit: 128m
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
  lounge:
    image: ghcr.io/dtinth/jamulus-lounge:main
    restart: unless-stopped
    cpus: 0.1
    mem_limit: 64m
    memswap_limit: 128m
    init: true
    environment:
      - GOJAM_API_PORT=9999
      - GOJAM_API_HOST=gojam
      - LOUNGE_SERVER_PORT=9998
      - LOUNGE_ADMIN_PORT=9996
      - LISTEN_HOST=0.0.0.0
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
  clipper:
    image: ghcr.io/dtinth/jamulus-lounge:main
    restart: unless-stopped
    init: true
    cpus: 0.05
    mem_limit: 64m
    memswap_limit: 128m
    command: node clipper.mjs
    environment:
      - GOJAM_API_PORT=9999
      - GOJAM_API_HOST=gojam
      - LOUNGE_ADMIN_HOST=lounge
      - LOUNGE_ADMIN_PORT=9996
      - LOUNGE_CLIPPER_PORT=9997
      - LISTEN_HOST=0.0.0.0
      - CLIPPER_UPLOAD_URL=${UPLOAD_ENDPOINT_URL:?UPLOAD_ENDPOINT_URL missing}
      - CLIPPER_UPLOAD_KEY=${UPLOAD_ENDPOINT_KEY:?UPLOAD_ENDPOINT_KEY missing}
      - CLIPPER_UPLOAD_NAMESPACE=mjth-${MJTH_SERVER_ID:?MJTH_SERVER_ID missing}
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
  caddy:
    build:
      context: ./caddy
    restart: unless-stopped
    cpus: 0.1
    mem_limit: 32m
    memswap_limit: 64m
    environment:
      - DOMAIN=${DOMAIN:?"DOMAIN missing"}
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - caddy_data:/data
      - caddy_config:/config
  recman:
    image: ghcr.io/dtinth/mjth-recman:main
    cpus: 0.5
    restart: unless-stopped
    environment:
      - API_GATEWAY_API_KEY=${GATEWAY_API_KEYS}
      - GOJAM_API_HOST=gojam
      - GOJAM_API_PORT=9999
      - API_GATEWAY_HOST=gateway
      - API_GATEWAY_PORT=63127
      - UPLOAD_ENDPOINT_URL
      - UPLOAD_ENDPOINT_KEY
    volumes:
      - recordings:/var/local/jamulus/recordings
  beszel-agent:
    image: henrygd/beszel-agent
    restart: unless-stopped
    network_mode: host
    cpus: 0.1
    mem_limit: 16m
    memswap_limit: 32m
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - beszel_agent_data:/var/lib/beszel-agent
    environment:
      - LISTEN=45876
      - KEY=${BESZEL_KEY:?BESZEL_KEY missing}
      - TOKEN=${BESZEL_TOKEN:?BESZEL_TOKEN missing}
      - HUB_URL=${BESZEL_HUB_URL:?BESZEL_HUB_URL missing}

volumes:
  caddy_data:
  caddy_config:
  beszel_agent_data:
  recordings:
