name: Update data

on:
  workflow_dispatch:
  schedule:
    - cron: "55 5 * * 5"

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Authenticate with GCP
        uses: "google-github-actions/auth@v2"
        with:
          workload_identity_provider: "projects/1061748385198/locations/global/workloadIdentityPools/github-actions/providers/github-actions"
          service_account: "jamulus-archive@dtinth-storage-space.iam.gserviceaccount.com"
      - name: pnpm
        uses: pnpm/action-setup@v4
      - name: node
        uses: actions/setup-node@v3
        with:
          cache: pnpm
      - run: pnpm install
      - run: pnpm tsx scripts/activeUsers/queryLegacy.ts
      - run: pnpm tsx scripts/activeUsers/queryBigQuery.ts
      - run: pnpm tsx scripts/activeUsers/updateActiveUsers.ts
      - run: pnpm tsx scripts/updateFinancialsData.ts
        env:
          GRIST_API_KEY: ${{ secrets.GRIST_API_KEY }}
          GRIST_DOC_URL: ${{ secrets.GRIST_DOC_URL }}
      - run: pnpm tsx scripts/updateFaq.ts
        continue-on-error: true
        env:
          GRIST_API_KEY: ${{ secrets.GRIST_API_KEY }}}
      - run: pnpm tsx scripts/updateServers.ts
        continue-on-error: true
        env:
          GRIST_API_KEY: ${{ secrets.GRIST_API_KEY }}}
      - name: Show the diff
        run: git diff --name-only
      - name: Commit and push if there are changes
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "dtinth-bot@users.noreply.github.com"
          git add .
          git commit -m "Routine update"
          git push
